\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

dump.rdb
__pycache__/
*.py[cod]
.DS_Store

.idea
.tmp
.sass-cache

db.sqlite3
.schema
.jshintrc

local_settings.py

/env
/db
/media